$variants: "primary", "secondary";

.btn {
  @apply px-4 rounded relative py-2 transition duration-500 text-white font-bold border-2 outline-none;
  &:hover {
    @apply bg-opacity-40;
  }
}

.btn-primary {
  background-color: theme("colors.primary.500");
  border-color: theme("colors.primary.500");
  &:hover,
  &:active,
  &:focus {
    overflow: hidden;
    border-color: theme("colors.primary.700");
  }
}

.btn-secondary {
  background-color: theme("colors.secondary.500");
  border-color: theme("colors.secondary.500");
  &:hover,
  &:active,
  &:focus {
    overflow: hidden;
    border-color: theme("colors.secondary.700");
  }
}
