.mdx {
  h1,h2, h3,h4,h5,h5 {
    font-weight: 900;
    @apply mb-4;
  }

  h1 {
    font-size: 40px;
    line-height: 48px;
  }
  
  h2 {
    font-size: 32px;
    line-height: 38px;
  }

  h3 {
    font-size: 28px;
    line-height: 32px;
  }

  h4 {
    font-size: 24px;
    line-height: 28px;
  }

  h5 {
    font-size: 20px;
    line-height: 24px;
  }

  h6 {
    font-size: 16px;
    line-height: 20px;
  }
  p {
    @apply mb-4;
  }

  ul {
    margin-left: 25px;
    margin-bottom: 16px;
    list-style: circle;
  }

  a {
    text-decoration: underline;
    color: theme('colors.secondary.400');
  }

  blockquote {
    min-width: 360px;
    width: max-content;
    background: #060916;
    padding: 16px;
    color: white;
    border-radius: 8px;
    margin-bottom: 16px;
    p{
      margin: 0
    }
  }
  
  pre {
    border-radius: 8px;
    margin-bottom: 16px;
    background: #060916;
    padding: 16px;
    color: white;
  }
}