@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
  }
}

@import "../styles/components";
@import "../styles/utils";

@tailwind utilities;

.sbdocs {
  @extend .mdx;
  font-family: Poppins, system-ui, sans-serif !important;
  
  .sbdocs-title {
    font-family: Poppins, system-ui, sans-serif !important;
  }
}

#storybook-explorer-tree {
  font-family: Poppins, system-ui, sans-serif !important;
}